@mixin montserrat(){
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
}

@mixin ibm(){
    font-family: 'IBM Plex Sans Condensed', sans-serif;
}

@mixin roboto(){
    font-family: 'Roboto', sans-serif;
}

@function em($val, $def){
    @return ($val / $def) + 0em;
}

*{
    box-sizing: border-box;
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
}

$brand-color-1: #FF7A00;

$con-padd: 15px;

@mixin con-size($size) {
    max-width: $size + ($con-padd * 2);
}

%bg-center{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    @include con-size(1200px);
    padding: 0 $con-padd;
    margin: 0 auto;
    width: 100%;
}

body{
    @include montserrat();
    font-weight: 400;
    background-color: #0A0A0A;
    color: white;
}

.header-top{
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    transition: all 0.5s;
    &--active{
        background-color: rgba(black, 80%);
    }
    &__container{
        display: flex;
        height: 138px;
        align-items: center;
        transition: all 0.5s;
        @media (max-width: 992px){
            justify-content: space-between;
            height: 120px;
        }
        @media (max-width: 768px){
            justify-content: space-between;
            height: 100px;
        }
        @media (max-width: 576px){
            justify-content: space-between;
            height: 75px;
        }
        &--active{
            height: 85px;
            @media (max-width: 768px){
                justify-content: space-between;
                height: 75px;
            }
            @media (max-width: 576px){
                height: 55px;
            }
        }
    }
    &__main{
        flex: 1;
        @media (max-width: 992px){
            flex: none;
        }
        &-inner{
            display: flex;
            justify-content: space-between;
            &--center{
                align-items: center;
            }
            @media (max-width: 992px){
                position: fixed;
                background-color: rgba(black, 95%);
                padding: 35px 0;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                overflow: auto;
                z-index: 1000;
                padding-top: 170px;
                flex-direction: column;
                max-width: 100%;
                justify-content: flex-start;
                align-items: center;
                text-align: center;
                transform: translate(0%, -200%);
                opacity: 0;
                transition: all 0.5s;
                &--open{
                    transform: translate(0%, 0%);
                    opacity: 1;
                }
            }
            @media (max-width: 576px){
                padding-top: 100px;
            }
        }
    }
    &__logo{
        margin-right: 77px;
        @media (max-width: 992px){
            position: relative;
            z-index: 1001;
            width: 97px;
        }
        @media (max-width: 768px){
            width: 85px;
        }
        @media (max-width: 576px){
            width: 67px;
        }
        &--active{
            width: 75px;
            @media (max-width: 576px){
                width: 57px;
            }
        }
    }
    &__call{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        @media (max-width: 992px){
            margin-top: 45px;
        }
        &-number{
            font-weight: 500;
            font-size: 16px;
            line-height: em(19.5px, 16px);
            @media (max-width: 992px){
                font-size: 18px;
            }
        }
        &-descr{
            margin-top: 5px;
            font-weight: 500;
            font-size: 16px;
            line-height: em(19.5px, 16px);
            color: $brand-color-1;
            cursor: pointer;
            &:hover{
                color: rgba($brand-color-1, 75%);
            }
        }
    }
}

.menu{
    &__list{
        display: flex;
        @media (max-width: 992px){
            flex-direction: column;
        }
    }
    &__item{
        transition: color 0.2s;
        &:hover{
            color: rgba($brand-color-1, 75%);
        }
        & + &{
            margin-left: 70px;
            @media (max-width: 992px){
                margin-left: 0px;
                margin-top: 22px;
            }
        }
    }
    &__link{
        font-weight: 500;
        font-size: 16px;
        line-height: em(19.5px, 16px);
        @media (max-width: 992px){
            font-size: 22px;
        }
    }
}

.header{
    overflow: hidden;
}

.hero{
    padding: (138px + 45px) 0 136px 0;
    @media (max-width: 992px){
        padding: 150px 0 115px 0;
    }
    @media (max-width: 768px){
        padding: 135px 0 95px 0;
    }
    @media (max-width: 576px){
        padding: 110px 0 64px 0;
    }
    &__container{
        display: flex;
        width: 100%;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: 992px){
            flex-direction: column;
            align-items: center;
        }
    }
    &__text{
        flex: 1;
        margin-top: 25px;
        @media (max-width: 992px){
            text-align: center;
            margin-bottom: 75px;
            margin-top: 0px;
            max-width: 100%;
            flex: auto;
        }
        @media (max-width: 768px){
            text-align: center;
            margin-bottom: 65px;
            margin-top: 0px;
        }
        &-btn{
            padding: 0 34px;
        }
    }
    &__slider{
        position: relative;
        @media (max-width: 475px){
            margin: 0 -15px;
        }
        &-wrap{
            width: 50%;
            position: relative;
            @media (max-width: 992px){
                width: 75%;
                margin-top: 4%;
            }
            @media (max-width: 768px){
                width: 85%;
            }
            @media (max-width: 576px){
                width: 100%;
                margin-top: 0%;
            }
        }
        &.slick-dotted {
            margin-bottom: 0px;
        }
        &:before{
            content: "";
            position: absolute;
            height: 120%;
            display: block;
            left: 16%;
            top: -10%;
            width: 105%;
            border: 10px solid $brand-color-1;
            @media (max-width: 992px) {
                height: 114%;
                top: -7%;
                border: 7px solid $brand-color-1;
            }
            @media (max-width: 576px) {
                display: none;
            }
        }
        .slick-slide img{
            width: 100%;
            height: auto;
        }
    }
    &__title{
        @include roboto();
        font-size: 60px;
        line-height: em(70.31px, 60px);
        font-weight: 700;
        margin-bottom: 73px;
        padding-right: 20px;
        @media (max-width: 1190px){
            font-size: 48px;
            margin-bottom: 45px;
        }
        @media (max-width: 768px){
            font-size: 40px;
            margin-bottom: 32px;
        }
        @media (max-width: 576px){
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
    &__descr{
        font-size: 22px;
        max-width: 340px;
        margin-bottom: 85px;
        @media (max-width: 1190px){
            margin-bottom: 65px;
        }
        @media (max-width: 992px){
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 45px;
        }
        @media (max-width: 768px){
            font-size: 20px;
            max-width: 286px;
            margin-bottom: 40px;
        }
        @media (max-width: 576px){
            font-size: 18px;
            margin-bottom: 28px;
        }
    }
    &__slider-arrow{
        transition: all 0.2s;
    }
    &__slider-btn{
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        cursor: pointer;
        &:hover{
            & .hero__slider-arrow{
                stroke: #1C1D1E;
            }
        }
        &--prev{
            left: 20px;
        }
        &--next{
            right: 20px;
        }
        @media (max-width: 475px) {
            display: none;
        }
    }
    &__slider-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 12px;
        left: 0px;
        width: 100%;
        li{
            margin: 0 7px;
            button{
                font-size: 0px;
                width: 13px;
                border-radius: 500px;
                display: block;
                height: 13px;
                border: 0px;
                background-color: white;
            }
        }
        li.slick-active button{
            background-color: $brand-color-1;
        }
        @media (max-width: 576px){
            bottom: -25px;
        }
    }
}

.get-btn{
    border: 3px solid $brand-color-1;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1C1D1E;
    line-height: em(16px, 19.5px);
    font-weight: 600;
    line-height: 1.4em;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    transition: all 0.2s;
    &:hover{
        background-color: #141415;
        border: 3px solid rgba($brand-color-1, 80%);
    }
}

.content-title{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2em;
    @media (max-width: 992px){
        font-size: 27px;
    }
    @media (max-width: 576px){
        font-size: 22px;
    }
    &--lines{
        position: relative;
        &:before, &:after{
            content: "";
            position: absolute;
            bottom: 0px;
            width: 17%;
            display: block;
            height: 3px;
            background-color: $brand-color-1;
            @media (max-width: 576px){
                display: none;
            }
        }
        &:before{
            left: 0px;
        }
        &:after{
            right: 0px;
        }
    }
    &--line{
        padding-bottom: 19px;
        position: relative;
        &:before{
            background-color: $brand-color-1;
            height: 3px;
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 300px;
            transform: translate(-50%, 0);
            display: block;
            @media (max-width: 620px){
                display: none;
            }
        }
    }
}

.work{
    padding: 60px 0 50px 0;
    @extend %bg-center;
    background-image: url("../img/work/bg.jpg");
    position: relative;
    &__container{
        position: relative;
        z-index: 10;
    }
    &:before{
        content: "";
        position: absolute;
        left: 0px;
        z-index: 9;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 85%)
    }
    &__title{
        margin-bottom: 45px;
    }
    &__num{
        font-size: 60px;
        line-height: em(73.14px, 60px);
        color: rgba($brand-color-1, 0.50);
        margin-right: 22px;
        @media(max-width: 992px) {
            font-size: 48px;
        }
        @media(max-width: 576px) {
            font-size: 45px;
            margin-bottom: 20px;
        }
    }
    &__descr{
        font-size: 18px;
        line-height: em(21.94px, 18px);
        max-width: 370px;
        width: 100%;
        @media (max-width: 576px) {
            font-size: 16px;
        }
    }
    &__block{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        width: 50%;
        margin-top: 70px;
        @media(max-width: 992px) {
            margin-top: 50px;
        }
        @media(max-width: 821px) {
            padding: 0 15px;
        }
        @media(max-width: 768px) {
            width: 100%;
        }
        @media(max-width: 576px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 0px;
        }
    }
    &__inner{
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -70px;
        @media(max-width: 992px) {
            margin-top: -50px;
        }
        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
            margin-top: -40px;
        }
    }
}

.services-bg{
    &-1{
        background-image: url("../img/our-services/img-1.jpg");
    }
    &-2{
        background-image: url("../img/our-services/img-2.jpg");
    }
    &-3{
        background-image: url("../img/our-services/img-3.jpg");
    }
    &-4{
        background-image: url("../img/our-services/img-5.jpg");
    }
}

.icon{
    &-brush{
        &:before{
            background-image: url("../img/icons/brush-icon.svg");
            width: 25px;
            height: 25px;
        }
    }
    &-house{
        &:before{
            background-image: url("../img/icons/house-icon.svg");
            width: 25px;
            height: 25px;
        }
    }
    &-lamp{
        &:before{
            background-image: url("../img/icons/lamp-icon.svg");
            width: 25px;
            height: 37px;
        }
    }
    &-plumbing{
        &:before{
            background-image: url("../img/icons/plumbing-icon.svg");
            width: 24px;
            height: 35px;
        }
    }
    &-phone{
        &:before{
            background-image: url("../img/icons/phone-icon.svg");
            width: 32px;
            height: 32px;
        }
    }
    &-paper{
        &:before{
            background-image: url("../img/icons/paper-icon.svg");
            width: 24px;
            height: 31px;
        }
    }
}

@mixin layer-bg{
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.our-services{
    padding: 72px 0 0 0;
    @media(max-width: 620px) {
        padding: 52px 0 0 0;
    }
    &__title{
        margin-bottom: 64px;
        @media(max-width: 620px) {
            margin-bottom: 27px;
        }
    }
    &__inner{
        display: flex;
        max-width: 996px;
        margin: 0 auto;
        margin-bottom: 75px;
        @media(max-width: 900px) {
            flex-direction: column;
        }
        @media(max-width: 900px) {
            margin-bottom: 57px;
        }
        @media(max-width: 576px) {
            margin-bottom: 40px;
        }
    }
    &__tabs{
        flex: 1;
        width: 100%; 
        flex-shrink: 1;
        margin-right: 20px;
        @media(max-width: 900px) {
            flex-shrink: unset;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            flex: auto;
            margin-bottom: 17px;
        }
        @media(max-width: 620px) {
            margin-bottom: 0px;
        }
        &-about{
            position: relative;
            z-index: 4;
        }
        &-item{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 177px;
            text-align: center;
            font-size: 22px;
            line-height: em(26.82px, 22px);
            border: 4px solid $brand-color-1;
            cursor: pointer;
            @media(max-width: 900px) {
                font-size: 20px;
            }
            @media(max-width: 900px) {
                width: 49.2%;
                height: 75px;
                font-size: 18px;
                border: 2px solid $brand-color-1;
            }
            @media(max-width: 620px) {
                width: 100%;
                background-image: none;
                border: 0px solid red;
                border-top: 1px solid rgba($brand-color-1, 45%);
                height: auto;
                padding: 14px 0;
                justify-content: flex-start;
                text-align: left;
                padding-left: 72px;
                br{
                    display: none;
                }
            }
            @media(max-width: 576px) {
                font-size: 16px;
            }
            @extend %bg-center;
            & + &{
                margin-top: 14px;
                @media(max-width: 900px) {
                    margin-top: 0px;
                }
                &:nth-child(n + 3) {
                    margin-top: 14px;
                    @media(max-width: 620px) {
                        margin-top: 0px;
                    }
                }
                &:nth-child(2n) {
                    @media(max-width: 900px) {
                        margin-left: 1.6%;
                    }
                    @media(max-width: 620px) {
                        margin-left: 0px;
                    }
                }
            }
            &:before{
                content: "";
                background-repeat: no-repeat;
                position: absolute;
                background-size: contain;
                z-index: 7;
                bottom: 17px;
                left: 12px;
                background-position: center;
                @media(max-width: 620px) {
                    top: 50%;
                    transform: translate(0, -50%);
                    height: 27px;
                }
            }
            &:after{
                @include layer-bg();
                background-color: rgba(black, 80%);
                z-index: 2;
                transition: all 0.2s;
                @media(max-width: 620px) {
                    display: none;
                }
            }
            &:hover{
                color: $brand-color-1;
                &:after{
                    background-color: rgba(black, 95%);
                }
            }
        }
    }
    &__main{
        max-width: 590px;
        width: 100%;
        border: 4px solid $brand-color-1;
        @media(max-width: 992px) {
            flex-shrink: unset;
        }
        @media(max-width: 900px) {
            max-width: 100%;
            border: 2px solid $brand-color-1;
        }
        @media(max-width: 620px) {
            max-width: 100%;
            border: 0px solid $brand-color-1;
        }
    }
    &__block{
        display: none;
        padding: 43px 0;
        position: relative;
        @extend %bg-center;
        height: 100%;
        @media (max-width: 900px) {
            padding: 32px 15px;
        }
        @media (max-width: 620px) {
            margin: 0 -15px;
            border-top: 2px solid $brand-color-1;
            border-bottom: 2px solid $brand-color-1;
        }
        &-title{
            color: $brand-color-1;
            position: relative;
            z-index: 4;
            font-size: 24px;
            line-height: em(29.26px, 24px);
            margin-bottom: 48px;
            text-align: center;
            margin-bottom: 27px;
        }
        &-list{
            margin: 0 4% 0 16%;
            position: relative;
            z-index: 4;
            @media (max-width: 900px) {
                margin: 0 auto;
                max-width: 507px;
                
            }
        }
        &-item{
            font-size: 18px;
            line-height: em(21.94px, 18px);
            @media(max-width: 620px) {
                font-size: 16px;
            }
            & + &{
                margin-top: 12px;
            }
        }
        &--open{
            display: block;
        }
        &:before{
            @include layer-bg();
            z-index: 2;
            background: rgba(black, 80%);
        }
    }
    &__descr{
        font-size: 22px;
        line-height: em(26.82px, 22px);
        margin-bottom: 50px;
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 620px) {
            font-size: 16px;
        }
        @media(max-width: 576px) {
            margin-bottom: 50px;
        }
    }
}

.tabs-elem{
    display: none;
    &--open{
        display: block;
    }
}

.consultation-1{
    padding-bottom: 125px;
    @media (max-width: 905px) {
        padding-bottom: 90px;
    }
    @media (max-width: 768px) {
        padding-bottom: 0px;
    }
    overflow: hidden;
    &__main{
        background-image: url("../img/consultation/bg.jpg");
        @extend %bg-center;
    }
    &__inner{
        max-width: 1098px;
        margin-left: auto;
        padding: 53px 0 88px 0;
        position: relative;
        @media (max-width: 576px) {
            padding: 37px 0 57px 0;
        }
        @media (max-width: 370px) {
            margin: 0 -10px;
        }
    }
    &__title{
        color: $brand-color-1;
        margin-bottom: 112px;
        text-transform: initial;
        line-height: em(36.57px, 30px);
        @media (max-width: 905px) {
            margin-bottom: 42px;
        }
        @media (max-width: 576px) {
            margin-bottom: 27px;
        }
    }
    &__img{
        position: absolute;
        bottom: 0px;
        width: 608px;
        left: 39%;
        z-index: 10;
        @media (max-width: 905px) {
            width: 500px;
            left: 46%;
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    &__consultation-block{
        position: relative;
        z-index: 11;
        @media (max-width: 768px) {
            margin: 0 auto;
        }
    }
}


.consultation-block{
    max-width: 390px;
    width: 100%;
    border-radius: 15px;
    background-color: #1C1D1E;
    padding: 25px 54px 22px 51px;
    border: 2px solid $brand-color-1;
    @media (max-width: 576px) {
        padding: 25px 25px 22px 25px;
    }
    @media (max-width: 370px) {
        @media (max-width: 576px) {
            padding: 25px 17px 22px 17px;
        }
    }
    &__input{
        display: block;
        background-color: transparent;
        border: 0px;
        border-bottom: 2px solid $brand-color-1;
        width: 100%;
        font-size: 14px;
        padding-bottom: 2px;
        line-height: em(17.07px, 14px);
        color: white;
        font-weight: 500;
        transition: all 0.2s;
        &:focus{
            border-bottom: 2px solid rgba($brand-color-1, 50%);
        }
        @media (max-width: 576px) {
            padding-bottom: 10px; 
        }
        @include montserrat();
        & + &{
            margin-top: 18px;
        }
        &::-webkit-input-placeholder{
            color: white;
            font-weight: 500;
            @include montserrat();
        }
        &::-moz-placeholder{
            color: white;
            font-weight: 500;
            @include montserrat();
        }
        &:-moz-placeholder  {
            color: white;
            font-weight: 500;
            @include montserrat();
        }
        &:-ms-input-placeholder{
            color: white;
            font-weight: 500;
            @include montserrat();
        }
    }
    &__label{
        display: block;
        width: 100%;
        font-weight: 500;
        color: white;
        font-size: 14px;
        line-height: em(17.07px, 14px);
        margin-bottom: 10px;
    }
    &__textarea{
        display: block;
        width: 100%;
        background-color: transparent;
        border: 2px solid $brand-color-1;
        border-radius: 10px;
        resize: none;
        height: 146px;
        padding: 10px 14px;
        overflow: auto;
        color: white;
        @include montserrat();
        font-size: 14px;
        line-height: em(17.07px, 14px);
        margin-bottom: 25px;
        transition: all 0.2s;
        &:focus{
            border: 2px solid rgba($brand-color-1, 50%);
        }
    }
    &__title{
        text-transform: uppercase;
        font-size: 22px;
        line-height: em(26.82px, 22px);
        text-align: center;
        margin-bottom: 23px;
        @media (max-width: 576px){
            font-size: 18px;
        }
    }
    &__input-wrap{
        margin-bottom: 18px;
    }
    &__btn{
        width: 100%;
        color: white;
        letter-spacing: 0.1em;
        margin-bottom: 15px;
    }
    &__checkbox-label{
        color: white;
        font-size: 10px;
        font-weight: 400;
        line-height: em(12.19px, 10px);
    }
    &__checkbox{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__checkbox-label{
        display: inline-flex;
        align-items: center;
        user-select: none;
        &:hover{
            &:before{
                border-color: rgba($brand-color-1, 50%);
            }
        }
        &:active{
            &:before{
                background-color: rgba($brand-color-1, 50%);
            }
        }
    }
    &__checkbox-label:before{
        content: "";
        display: inline-block;
        width: 16px;
        flex-shrink: 0;
        margin-right: 6px;
        height: 16px;
        border-radius: 5px;
        border: 1px solid $brand-color-1;
        background-position: 1px 2px;
        background-repeat: no-repeat;
        transition: all 0.2s;
    }
    &__checkbox:checked+&__checkbox-label:before{
        background-image: url("../img/icons/check-icon.svg");
    }
}

.about-us{
    padding: 35px 0 88px 0;
    background-image: url("../img/about-us/bg.jpg");
    @extend %bg-center;
    position: relative;
    @media(max-width: 768px) {
        padding: 35px 0 65px 0;
    }
    &:before{
        @include layer-bg();
        background-color: rgba(black, 85%)
    }
    &__inner{
        display: flex;
        position: relative;
        z-index: 4;
        @media (max-width: 768px){
            display: block;
        }
    }
    &__nums{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text{
        max-width: 488px;
        width: 100%;
        @media (max-width: 928px){
            margin-right: 25px;
        }
        @media (max-width: 768px){
            margin-right: 0px;
            margin: 0 auto;
            margin-bottom: 55px;
        }
    }
    &__circle{
        width:  320px;
        @media (max-width: 992px){
            width:  290px;
        }
        @media (max-width: 576px){
            width:  237px;
        }
        &-inner{
            height: 320px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 36px 0 65px 0;
            border-radius: 500px;
            border: 3px solid $brand-color-1;
            @media (max-width: 992px){
                height: 290px;
                padding: 42px 0 82px 0;
            }
            @media (max-width: 576px){
                height:  237px;
                padding: 37px 0 52px 0;
            }
        }
        &-num{
            font-size: 100px;
            font-weight: 700;
            line-height: em(121.9px, 100px);
            color: $brand-color-1;
            @media (max-width: 992px){
                font-size: 85px;
            }
            @media (max-width: 576px){
                font-size: 52px;
            }
        }
        &-text{
            font-size: 18px;
            line-height: em(21.94px, 18px);
            @media (max-width: 576px){
                font-size: 16px;
                max-width: 175px;
                text-align: center;
            }
        }
    }
    &__title{
        font-size: 70px;
        line-height: em(85.33px, 70px);
        color: $brand-color-1;
        margin-bottom: 48px;
        text-align: center;
        @media (max-width: 992px){
            font-size: 62px;
            margin-bottom: 27px;
        }
        @media (max-width: 768px){
            font-size: 50px;
        }
        @media (max-width: 576px){
            font-size: 37px;
        }
    }
    &__text{
        max-width: 488px;

    }
    &__item{
        font-size: 20px;
        font-weight: 500;
        line-height: em(24.38px, 20px);
        border-bottom: 2px solid $brand-color-1;
        padding-bottom: 8px;
        @media (max-width: 768px)  {
            font-size: 18px;
        }
        @media (max-width: 576px)  {
            font-size: 16px;
        }
        & + &{
            margin-top: 21px;
        }
    }
}

.gallery{
    padding: 91px 0 115px 0;
    @media(max-width: 768px) {
        padding: 75px 0 95px 0;
    }
    @media(max-width: 576px) {
        padding: 55px 0 75px 0;
    }
    &__title{
        margin-bottom: 93px;
        @media(max-width: 768px) {
            margin-bottom: 72px;
        }

        @media(max-width: 576px) {
            margin-bottom: 50px;
        }
    }
    &__row{
        display: flex;
        flex-wrap: wrap;
        margin-top: -48px;
        @media(max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__block{
        width: 32.167%;
        margin-top: 48px;
        padding-right: 27px;
        padding-bottom: 24px;
        @media (max-width: 992px) {
            width: 49.12%;
        }
        @media(max-width: 768px) {
            width: 100%;
            max-width: 360px;
        }
        &-inner{
            position: relative;
            height: 100%;
            width: 100%;
            padding-bottom: 100%;
            border-radius: 10px;
            
            @extend %bg-center;
            &:before{
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                border: 3px solid $brand-color-1;
                border-radius: 10px;
                position: absolute;
                top: 24px;
                z-index: -1;
                right: -27px;
            }
        }
        &-title{
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            text-align: center;
            padding: 20px;
            background-color: rgba(black, 50%);
            font-size: 24px;
            color: white;
            font-weight: 700;
            text-transform: uppercase;
            @media(max-width: 992px){
                font-size: 22px;
            }
            @media(max-width: 768px){
                font-size: 20px;
            }
            @media(max-width: 576px){
                font-size: 18px;
            }
        }
        &:not(:nth-child(3n)) {
            margin-right: 1.75%;
            @media (max-width: 992px) {
                margin-right: 0%;
            }
        }
        @media (max-width: 992px) {
            &:nth-child(2n) {
                margin-left: 1.75%;
            }
        }
    }
}

.price{
    padding-bottom: 56px;
    @media (max-width: 992px){
        padding-bottom: 52px;
    }
    @media (max-width: 576px){
        padding-bottom: 45px;
    }
    &__container{
        @include con-size(996px);
    }
    &__title{
        margin-bottom: 72px;
        @media (max-width: 768px){
            margin-bottom: 55px;
        }
        @media (max-width: 576px){
            margin-bottom: 38px;
        }
    }
    &__table{
        &-wrap{
            overflow: auto;
            margin-bottom: 40px;
            @media (max-width: 576px){
                margin-bottom: 27px;
            }
        }
        width: 100%;
        background-color: #3D3D3D;
        border: 6px solid $brand-color-1;
        @media (max-width: 685px) {
            width: 656px;
        }
        &-item{
            border: 1px solid white;
            text-align: center;
            width: 180px;
            font-size: 14px;
            font-weight: 500;
            line-height: em(17.07px, 14px);
            padding: 8.75px 0;
            @media (max-width: 837px) {
                width: 160px;
            }
            &:nth-child(1){
                text-align: left;
                width: auto;
                padding-left: 40px;
                padding-right: 17px;
                @media (max-width: 837px) {
                    padding-left: 20px;
                    
                }
            }
        }
        &-title{
            font-size: 16px;
            line-height: em(19.5px, 16px);
            font-weight: 700;
            padding: 17px 0;
            &:nth-child(1){
                padding-left: 66px;
                @media (max-width: 837px) {
                    padding-left: 27px;
                }
            }
        }
    }
    &__get-btn{
        padding-left: 10px;
        padding-right: 10px;
    }
    &__btn-wrap{
        display: flex;
        justify-content: flex-end;
    }
}

.consultation-2{
    overflow: hidden;
    &__content-title{
        margin-bottom: 64px;
        @media (max-width: 992px) {
            margin-bottom: 47px;
        }
        @media (max-width: 576px) {
            margin-bottom: 42px;
        }
    }
    &__main{
        @extend %bg-center;
        background-image: url("../img/consultation/bg.jpg");
    }
    &__inner{
        max-width: 1097px;
        display: flex;
        justify-content: flex-end;
        padding: 71px 0 148.2px 0;
        position: relative;
        @media (max-width: 992px) {
            justify-content: center;
            padding: 55px 0 92px 0;
        }
        @media (max-width: 576px) {
            padding: 43px 0 58px 0;
        }
        @media (max-width: 576px) {
            margin: 0 -10px;
        }
    }
    &__img{
        position: absolute;
        bottom: 0px;
        z-index: 10;
        right: 40%;
        width: 678px;
        @media (max-width: 992px) {
            display: none;
        }
    }
    &__consultation-block{
        position: relative;
        z-index: 11;
    }
}

.footer{
    padding: 30px 0 16px 0;
    @media (max-width: 768px) {
        padding: 45px 0 45px 0;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        @media (max-width: 992px) {
            margin-bottom: 25px;
        }
        @media (max-width: 768px) {
            flex-direction: column;
            margin-bottom: 0px;
        }
    }
    &__contact{
        @media (max-width: 768px) {
            margin-bottom: 55px;
            max-width: 100%;
        }
        &-link{
            display: flex;
            font-size: 16px;
            line-height: em(19.5px, 16px);
            font-weight: 400;
            align-items: flex-end;
            & + &{
                margin-top: 13px;
            }
            &:before{
                content: "";
                margin-right: 30px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
    }
    &__info{
        font-size: 16px;
        line-height: em(19.5px, 16px);
        font-weight: 400;
        @media (max-width: 768px) {
            margin-bottom: 55px;
            max-width: 100%;
        }
        &-item{
            & + &{
                margin-top: 19px;
            }
        }
    }
    &__end{
        display: flex;
        justify-content: center;
        &-text{
            font-size: 20px;
            line-height: em(24.38px, 20px);
            font-weight: 500;
            @media (max-width: 992px) {
                font-size: 18px;
            }
            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
    }
}

.menu-btn{
    width: 55px;
    height: 45px;
    display: none;
    border: 0px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color:transparent;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    div{
        height: 3px;
        width: 100%;
        background-color: white;
        transition: all 0.5s;
    }
    &--active{
        div:nth-child(1){
            transform: rotate(38deg) translate(4px,10px);
            width: 120%;
        }
        div:nth-child(2){
            display: none;
        }
        div:nth-child(3){
            transform: rotate(-38deg) translate(5px,-11px);
            width: 120%;
        }
    }
    @media (max-width: 992px) {
        display: flex;
        position: relative;
        z-index: 1001;
    }
    @media (max-width: 576px) {
        width: 45px;
        height: 35px;
        padding: 7px;
        div{
            height: 2px;
        }
        &--active{
            div:nth-child(1){
                transform: rotate(38deg) translate(5px, 8px);
                width: 110%;
            }
            div:nth-child(2){
                display: none;
            }
            div:nth-child(3){
                transform: rotate(-38deg) translate(5px,-8px);
                width: 110%;
            }
        }
    }
}

