body {
  font-family: "Roboto", sans-serif;
  color: #041011;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

.container-fluid {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  background-color: white;
  z-index: 100;
}
.header__container {
  padding: 0 48px;
}
.header__inner {
  padding: 13px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu-btn {
  width: 30px;
  height: 22px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
.header__menu-btn-line {
  width: 100%;
  height: 4px;
  background-color: #353535;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item + .menu__item {
  margin-left: 40px;
}
.menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.625em;
  position: relative;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
.menu__link:hover {
  color: #007188;
}
.menu__link--arrow {
  padding-right: 18px;
}
.menu__link--arrow:after {
  content: "";
  display: block;
  position: absolute;
  right: 0px;
  top: 1px;
  width: 8px;
  height: 17px;
  background-image: url("../img/Arrow-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.menu__link--arrow:hover:after {
  top: 7px;
}
.menu__btn {
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: #007188;
  border-radius: 5px;
  display: inline-block;
  line-height: 1.625em;
  padding: 14px 24px 14px 24px;
}

.btn-primary {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.btn-primary:hover {
  background-color: #041011;
}

.hero {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF3F1;
}
.hero__text-wrap {
  width: 50%;
  padding: 140px 0 172px 15px;
}
.hero__img-wrap {
  width: 50%;
  background-image: url("../img/hero-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero__img-wrap:before {
  content: "";
  display: block;
  width: 38px;
  height: 100%;
  background-image: url("../img/hero-img-line.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__text {
  max-width: 592px;
  width: 100%;
  margin-left: auto;
  padding-right: 5%;
}
.hero__title {
  font-size: 72px;
  max-width: 415px;
  margin-bottom: 45px;
  line-height: 1em;
}
.hero__descr {
  font-size: 21px;
  font-weight: 400;
  line-height: 1.5714em;
  max-width: 545px;
  margin-bottom: 35px;
}
.hero__text-block {
  max-width: 450px;
}
.hero__circles-item {
  background-image: url("../img/hero-circle.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5em;
  position: relative;
  padding: 6px 0 7px 34px;
}
.hero__circles-item:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -71.5px;
  top: 0px;
  height: 100%;
  width: 143px;
  background-image: url(../img/hero-circle-line.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.feedback-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background-color: white;
  -webkit-box-shadow: 0 24px 34px rgba(0, 0, 0, 0.1);
          box-shadow: 0 24px 34px rgba(0, 0, 0, 0.1);
  border-radius: 200px;
  margin-bottom: 35px;
}
.feedback-form__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 20px 20px 20px 29px;
  outline: none;
  border: 0px;
  border-radius: 200px;
}
.feedback-form__text::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.feedback-form__text::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.feedback-form__text:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.feedback-form__text:-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.feedback-form__btn {
  font-size: 18px;
  line-height: 1.8333em;
  display: inline-block;
  font-weight: 500;
  color: white;
  padding: 18px 35px;
  border-radius: 200px;
  background-color: #007188;
  border: 0px;
}

.progress {
  padding: 80px 0;
}
.progress__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.progress__item {
  text-align: center;
}
.progress__counter {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2917em;
}
.progress__counter-num {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.3478em;
}
.progress__about {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.getting-started__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 1.0769em;
  max-width: 450px;
  margin: 0 auto;
  margin-bottom: 68px;
}
.getting-started__item {
  text-align: center;
  width: 33.33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.getting-started__item-text {
  max-width: 230px;
  font-size: 20px;
  line-height: 1.45em;
}
.getting-started__item-num {
  width: 56px;
  height: 57px;
  background-image: url("../img/getting-started-oval.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  color: #002E8C;
  font-weight: 400;
  margin-bottom: 30px;
}
.getting-started__list {
  max-width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.getting-started__inner {
  background-image: url("../img/getting-started-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 115px 0 120px 0;
  position: relative;
}
.getting-started__inner:before {
  content: "";
  position: absolute;
  right: 30px;
  bottom: -40px;
  width: 179px;
  height: 104px;
  background-image: url("../img/getting-started-promo-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.champion {
  padding: 83px 0 77px 0;
}
.champion__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.champion__img-wrap {
  margin-right: 7.0175438596%;
  max-width: 395px;
  width: 100%;
}
.champion__img-wrap img {
  max-width: 100%;
  height: auto;
}
.champion__text {
  max-width: 395px;
  width: 100%;
}
.champion__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 0.8958em;
  margin-bottom: 27px;
}
.champion__descr {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.5em;
  margin-bottom: 33px;
}

.line-link {
  color: #007188;
  font-weight: 500;
  line-height: 1.6316em;
  font-size: 19px;
  position: relative;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.line-link:before {
  content: "";
  display: bock;
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: #007188;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.line-link:hover {
  color: #041011;
}
.line-link:hover:before {
  background-color: #041011;
}

.featured {
  padding: 162px 0 160px 0;
  background-color: #F4F9F9;
}
.featured__title {
  font-size: 51px;
  line-height: 1.098em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 37px;
}
.featured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 54px;
}
.featured__block {
  width: 33.33%;
}
.featured__block-img {
  padding-bottom: 85.8%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.featured__block-inner {
  background-color: white;
  margin: 0 15px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 0 0 0 rbga(0, 0, 0, 0);
          box-shadow: 0 0 0 0 rbga(0, 0, 0, 0);
}
.featured__block-inner:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: -1px 4px 19px 0px rgba(34, 60, 80, 0.15);
          box-shadow: -1px 4px 19px 0px rgba(34, 60, 80, 0.15);
}
.featured__block-text {
  padding: 28px 30px 28px 30px;
}
.featured__block-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.1852em;
  margin-bottom: 66px;
}
.featured__block-title:hover {
  text-decoration: underline;
}
.featured__block-subtitle {
  color: #FC9C25;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2308em;
  margin-bottom: 13px;
}
.featured__block-date {
  font-size: 16px;
  color: #909C9D;
  line-height: 1.4375em;
  font-weight: 400;
}
.featured__btn {
  background-color: #007188;
  padding: 17px 24px 23px 24px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  line-height: 1.0625em;
  font-weight: 400;
}
.featured__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.elevate-engagement {
  padding-bottom: 160px;
}
.elevate-engagement__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.elevate-engagement__img-wrap {
  width: 50%;
}
.elevate-engagement__img-wrap img {
  width: 100%;
  height: auto;
}
.elevate-engagement__text-wrap {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.elevate-engagement__text {
  max-width: 415px;
  margin-top: 25%;
}
.elevate-engagement__title {
  font-size: 45px;
  line-height: 0.9556em;
  font-weight: 700;
  margin-bottom: 27px;
}
.elevate-engagement__descr {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.375em;
  margin-bottom: 30px;
}

.reviews {
  padding: 160px 0 160px 0;
  background-color: #F4F9F9;
}
.reviews__title {
  max-width: 341px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 52px;
  line-height: 1.0769em;
  margin-bottom: 83px;
  position: relative;
}
.reviews__title:before {
  content: "";
  position: absolute;
  right: 130px;
  bottom: -80px;
  width: 174px;
  height: 104px;
  background-image: url(../img/reviews-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__list-row {
  max-width: 525px;
  width: 100%;
}
.reviews__list-row + .reviews__list-row {
  margin-left: 30px;
}
.reviews__item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
}
.reviews__item + .reviews__item {
  margin-top: 30px;
}
.reviews__item--1 {
  background-image: url(../img/reviews-block-1.svg);
}
.reviews__item--2 {
  background-image: url(../img/reviews-block-2.svg);
}
.reviews__item--3 {
  background-image: url(../img/reviews-block-3.svg);
}
.reviews__item-descr {
  font-size: 18px;
  line-height: 1.6111em;
  font-weight: 300;
  margin-bottom: 27px;
  max-width: 390px;
}
.reviews__item-descr--lg {
  font-size: 28px;
  line-height: 1.4286em;
  margin-bottom: 32px;
  max-width: none;
}
.reviews__item-descr--md {
  font-size: 21px;
  line-height: 1.381em;
}
.reviews__star {
  width: 38px;
  margin-bottom: 36px;
}
.reviews__star--sm {
  width: 28px;
  margin-bottom: 22px;
}
.reviews__star--rotate {
  -webkit-transform: rotate(-180deg) translateY(-10%);
      -ms-transform: rotate(-180deg) translateY(-10%);
          transform: rotate(-180deg) translateY(-10%);
}
.reviews__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__author-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 44px;
  height: 44px;
  margin-right: 14px;
}
.reviews__author-img--lg {
  width: 64px;
  height: 64px;
}
.reviews__author-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.4em;
}
.reviews__author-text {
  color: #818788;
  text-transform: uppercase;
  line-height: 1.5833em;
  font-weight: 400;
  font-size: 12px;
}

.sign-up {
  background-color: #001F5D;
  background-image: url("../img/sign-up-line.svg");
  background-position: top center;
  background-repeat: no-repeat;
  padding: 118px 0 150px 0;
  text-align: center;
  color: #F7FAFF;
  position: relative;
}
.sign-up:before, .sign-up:after {
  content: "";
  display: block;
  width: 87px;
  height: 98px;
  position: absolute;
  background-image: url(../img/sign-up-plane.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sign-up:before {
  left: 44px;
  bottom: 41px;
}
.sign-up:after {
  right: 38px;
  top: 38px;
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}
.sign-up__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sign-up__feedback-form {
  max-width: 803px;
  width: 100%;
}
.sign-up__subtitle {
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1.25em;
}
.sign-up__title {
  font-size: 51px;
  line-height: 1.098em;
  max-width: 100%;
  color: #FFC8C8;
  font-weight: 700;
  margin-bottom: 43px;
}

.footer {
  padding: 100px 0 80px 0;
}
.footer__link {
  font-size: 18px;
  line-height: 1.6111em;
  color: #818788;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.footer__link:hover {
  color: #041011;
}
.footer__link--arrow:after {
  content: "";
  display: inline-block;
  width: 21px;
  position: relative;
  top: 8px;
  height: 21px;
  margin-left: 2px;
  background-image: url(../img/footer-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.footer__row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 5%;
}
.footer__row-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.3077em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer__main {
  width: 75%;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 133px;
}
.footer__logo {
  width: 25%;
  padding-left: 4%;
}
.footer__end {
  padding-left: 4%;
}
.footer__end-text-sm {
  font-weight: 300;
  font-size: 12px;
  line-height: 2.0833em;
}
.footer__end-text-lg {
  margin-top: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  color: #818788;
}

@media (max-width: 1250px) {
  .header__container {
    padding: 0 15px;
  }
}
@media (min-width: 993px) {
  .menu {
    display: block !important;
  }
}
@media (max-width: 992px) {
  .header__inner {
    position: relative;
  }

  .hero {
    margin-top: 62px;
  }

  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__text {
    margin-left: 0px;
    max-width: 516px;
    padding-right: 0%;
  }
  .hero__text-block {
    max-width: none;
  }

  .hero__text-wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 15px 75px 15px;
  }

  .hero__img-wrap {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding-bottom: 50%;
    background-position: center top 27%;
  }

  .hero__circles-item {
    padding: 6px 0 7px 13%;
  }

  .hero__title {
    margin-bottom: 35px;
    font-size: 55px;
  }

  .menu {
    position: absolute;
    right: 0px;
    top: 65px;
    z-index: 2;
    display: none;
    border-top: 1px solid #C4C4C4;
    width: 275px;
    background-color: white;
    padding: 25px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }

  .menu__link {
    font-size: 18px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item + .menu__item {
    margin-left: 0px;
    margin-top: 22px;
  }

  .header__menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .hero__title {
    font-size: 60px;
  }

  .getting-started__title {
    font-size: 50px;
  }

  .getting-started {
    background-image: url(../img/getting-started-bg.svg);
    background-size: cover;
    background-position: center;
  }
  .getting-started__inner {
    background-image: none;
  }

  .featured__block {
    width: 50%;
  }
  .featured__block:nth-child(n+3) {
    margin-top: 30px;
  }

  .featured {
    padding: 135px 0 135px 0;
  }

  .elevate-engagement__text-wrap {
    margin-right: 5%;
  }

  .elevate-engagement {
    padding-bottom: 110px;
  }

  .reviews__item {
    padding: 40px;
  }

  .reviews__item-descr--lg {
    font-size: 22px;
  }

  .reviews__title {
    max-width: 300px;
    font-size: 45px;
  }

  .reviews {
    padding: 135px 0 135px 0;
  }

  .sign-up__title {
    font-size: 45px;
    margin-bottom: 35px;
  }

  .sign-up {
    padding: 100px 0 110px 0;
  }

  .sign-up:before {
    left: 31px;
    bottom: 13px;
  }

  .sign-up:after {
    right: 22px;
    top: 14px;
  }

  .footer__row {
    padding-left: 0%;
  }

  .footer__end {
    padding-left: 0%;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
  }

  .footer {
    padding: 80px 0 60px 0;
  }

  .footer__end-text-lg {
    margin-top: 25px;
  }
}
@media (max-width: 815px) {
  .getting-started__item {
    width: 50%;
  }
  .getting-started__item:nth-child(n+3) {
    margin-top: 75px;
  }

  .getting-started__inner:before {
    display: none;
  }

  .getting-started__list {
    max-width: 640px;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .header__inner {
    position: static;
  }

  .header {
    position: fixed;
  }

  .menu {
    width: 100%;
    top: 52px;
    padding: 35px;
  }

  .hero__title {
    font-size: 55px;
  }

  .logo img {
    max-width: 95px;
  }

  .progress__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .progress__item {
    width: 50%;
  }
  .progress__item:nth-child(n+3) {
    margin-top: 10%;
  }

  .progress {
    margin: 0 auto;
    max-width: 500px;
    padding: 65px 0;
  }

  .getting-started__inner {
    padding: 100px 0 100px 0;
  }

  .getting-started__title {
    font-size: 45px;
    margin-bottom: 60px;
  }

  .getting-started__title {
    max-width: 392px;
  }

  .champion__title {
    font-size: 42px;
  }

  .champion__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .champion__img-wrap {
    margin-right: 0%;
    margin-bottom: 27px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }

  .featured__block-title {
    font-size: 24px;
    margin-bottom: 55px;
  }

  .featured__block-inner {
    margin: 0 10px;
  }

  .featured__block:nth-child(n+3) {
    margin-top: 20px;
  }

  .featured {
    padding: 100px 0 100px 0;
  }

  .featured__title {
    font-size: 42px;
  }

  .elevate-engagement__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 80px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .elevate-engagement__text-wrap {
    margin-right: 0%;
    width: 100%;
  }

  .elevate-engagement__text {
    margin-top: 0%;
    margin-bottom: 45px;
  }

  .elevate-engagement {
    padding-bottom: 0px;
  }

  .elevate-engagement__title {
    font-size: 42px;
  }

  .elevate-engagement__img-wrap {
    max-width: 425px;
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .elevate-engagement__img-wrap img {
    max-width: 100%;
    height: auto;
  }

  .reviews__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews__list-row + .reviews__list-row {
    margin-left: 0px;
    margin-top: 30px;
  }

  .reviews {
    padding: 100px 0 100px 0;
  }

  .reviews__title {
    font-size: 40px;
    text-align: center;
  }

  .reviews__title:before {
    display: none;
  }

  .reviews__title {
    margin-bottom: 60px;
  }

  .reviews__star {
    margin-bottom: 25px;
  }

  .sign-up__title {
    font-size: 38px;
  }

  .sign-up:before, .sign-up:after {
    width: 70px;
    height: 80px;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 75px;
  }

  .footer__row {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
  .footer__row + .footer__row {
    margin-top: 35px;
  }

  .footer__logo {
    width: auto;
    padding-left: 0px;
    margin-bottom: 35px;
  }

  .footer__link {
    line-height: 1.7em;
  }

  .footer__main {
    width: auto;
  }

  .footer {
    padding: 60px 0 60px 0;
  }
}
@media (max-width: 576px) {
  .feedback-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feedback-form__btn {
    width: 100%;
    border-radius: 0 0 20px 20px;
  }

  .feedback-form__text {
    padding: 20px;
    border-radius: 0px;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: 100%;
  }

  .feedback-form {
    border-radius: 20px;
  }

  .hero__text-wrap {
    padding: 25px 15px 55px 15px;
  }

  .hero {
    margin-top: 53px;
  }

  .hero__descr {
    font-size: 18px;
  }

  .hero__text-block {
    max-width: 100%;
  }

  .hero__title {
    margin-bottom: 20px;
    font-size: 38px;
  }

  .hero__text-block {
    max-width: auto;
  }

  .progress__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .progress__item:nth-child(n+3) {
    margin-top: 0px;
  }

  .progress__item + .progress__item {
    margin-top: 45px;
  }

  .progress {
    padding: 50px 0;
  }

  .progress__counter-num {
    font-size: 40px;
  }

  .getting-started__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .getting-started__item:nth-child(n+3) {
    margin-top: 0px;
  }

  .getting-started__item {
    width: 100%;
  }
  .getting-started__item + .getting-started__item {
    margin-top: 50px;
  }

  .getting-started__inner {
    padding: 50px 0 75px 0;
  }

  .getting-started__title {
    max-width: 278px;
    font-size: 25px;
    text-align: center;
    margin-bottom: 40px;
  }

  .getting-started__item-text {
    font-size: 18px;
  }

  .champion__descr {
    font-size: 18px;
    margin-bottom: 17px;
  }

  .champion {
    padding: 50px 0 50px 0;
  }

  .champion__title {
    font-size: 25px;
    margin-bottom: 17px;
  }

  .featured__block {
    width: 100%;
  }
  .featured__block + .featured__block {
    margin-top: 30px;
  }

  .featured__block-inner {
    margin: 0px;
  }

  .featured {
    padding: 75px 0 75px 0;
  }

  .featured__title {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .featured__block-date {
    font-size: 14px;
  }

  .featured__block-title {
    margin-bottom: 40px;
  }

  .featured__list {
    padding: 0 10%;
  }

  .featured__list {
    margin-bottom: 40px;
  }

  .elevate-engagement__descr {
    font-size: 20px;
    margin-bottom: 17px;
  }

  .elevate-engagement__title {
    font-size: 25px;
    margin-bottom: 17px;
  }

  .elevate-engagement__inner {
    padding: 50px 0;
  }

  .reviews {
    padding: 75px 0 75px 0;
  }

  .reviews__title {
    margin-bottom: 40px;
    font-size: 28px;
  }

  .reviews__star {
    width: 27px;
  }

  .reviews__star {
    margin-bottom: 17px;
  }

  .sign-up__title {
    font-size: 32px;
  }

  .sign-up {
    padding: 85px 0 80px 0;
  }

  .footer {
    padding: 50px 0 50px 0;
  }

  .footer__menu {
    margin-bottom: 50px;
  }

  .logo img {
    max-width: 85px;
  }

  .header__inner {
    padding: 10px 0;
  }
}
@media (max-width: 480px) {
  .hero__circles-item {
    background-size: contain;
  }

  .hero__circles-item:before {
    left: 40%;
    margin-left: 5%;
    top: 0px;
    height: 100%;
    width: 30%;
  }

  .reviews__item-descr--lg {
    font-size: 18px;
  }

  .reviews__item {
    padding: 35px 35px;
  }

  .reviews__item-descr--md {
    font-size: 18px;
  }
}
@media (max-width: 378px) {
  .featured__list {
    padding: 0;
  }

  .hero__title {
    font-size: 30px;
  }
}